*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    background-color: #FFBD59;
}

#Inicio {
    align-content: center;
    font-size: 3rem;
    text-align: center;
    background-color: #FFBD59;
    letter-spacing: 1rem;
    padding-top: 2rem;
}

ul{
    color: white;
    text-align: center;
}

ul li{
    display: inline-block;
    margin: 1rem auto;
    padding: 1rem;
}

div.frase{
    padding: 2rem;
    text-align: center;
    background-color: #FFBD59;
}

div h3{
    font-style: oblique;
    font-weight: 100;
    text-shadow: #000;
    font-size: 1rem;
    color: white;
    letter-spacing: 0.5rem;
}

div img.flecha1{
    margin: 2rem 1rem auto;
}

div.video{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

div.video .video{
    object-position: center;
}

#QUIENES{
    text-align: center;
    padding: 3rem;
}

.titulo__seccion{
    justify-content: center;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 0.5rem;
}

#QUIENES .quienes__jc{
    border: solid #FFF;
    margin: 2rem 3rem;
    width: 30%;
}

#QUIENES .quienes__anahi{
    border: solid #FFF;
    margin: 2rem 3rem;
    width: 30%;
}


#QUIENES .quienes__presentacion{
    bottom: -3rem;
    font-size: 1rem;
}

div.final{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    display: grid;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 3rem;
    justify-items: center;
}

.UBICACION{
    text-align: center;
    padding: 3rem;
}

.UBICACION .mapa{
    margin-top: 3rem;
}

#SERVICIOS{
        text-align: center;
        padding: 3rem;
}

#SERVICIOS .servicios__tabla{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

table{
    border-collapse: collapse;
    width: 100%;
}
  
th, td{
    text-align: left;
    padding: 0.5rem;
}

th{
    background-color: #e3bd70;
    color: white;
    text-align: center;
}

td{
    background-color: #FFF;
    color: #e3bd70;
    text-align: center;
}

.serviciosInfo{
    display: -webkit-flex;
    display: flex;
    margin: 2rem;
}
  

.serviciosColumna {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 1rem;
    color: antiquewhite;
}

.serviciosInfo h2{
    padding: 1rem;
    background-color: #FFF;
    color: #e3bd70;
    text-align: center;
}

.serviciosInfo p{
    padding: 1rem;
    justify-content: center;
    text-align: center;
}

.titulo{
    padding: 3rem;
    text-align: center;
}

.antro{
    display: flexbox;
    text-align: center;
    justify-content:center;
}

.flex-container{
    display: flex;
    padding: 1rem;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: white;
}

.flex-item{
    background-color: white;
    color: white;
    width: 20rem;
}

.flex-item img{
    width: 100%;
    height: auto;
}
.flex-container h2{
    text-align: center;
}

#CONT {
    display: grid;
    width: auto;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1rem;
    grid-template-rows: auto auto;
    grid-row-gap: 1rem;
    justify-items: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#CONT .titulo__seccion {
    justify-content: center;
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: 0.5rem;
    padding-top: 1rem;
    color: #FFF;
}

#CONT p {
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
}

#FORM {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    color: #FFF;
    border-radius: 5px;
    padding: 3rem 1rem;
}

#FORM row{
    content: "row";
    display: table;
    clear: both;
}

input[type=text], textarea, select {
    background-color: white;
    color: #e3bd70;
    padding: 1rem 1rem;
    border: none;
    border-radius: 0.5rem;
}

input[type=date] {
    background-color: white;
    color: #FFBD59;
    padding: 1rem 1rem;
    border: none;
    border-radius: 0.5rem;
}

input[type=email] {
background-color: white;
color: #FFBD59;
padding: 1rem 1rem;
border: none;
border-radius: 0.5rem;
}

input[type=submit] {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

input[type=reset] {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.comp{
    justify-content: center;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 0.5rem;
    padding-top: 2rem;
    text-align: center;
}


@media only screen and (max-width: 400px){
    header{
      color: blue;
    }

    .video{
        display: flex;
        width: 70%;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
    }
    
    video{
        width: 100%;
    }
}

  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px){
    header{
      color: red; 
    }

    .video{
        display: flex;
        width: 70%;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
    }
    
    video{
        width: 100%;
    }

  /* Desktop Styles */
  @media only screen and (min-width: 961px){
    header{
      color: #B2D6FF; /* Blue */
    }
}
