section{
#SERVICIOS{
    text-align: center;
    padding: 3rem;

    & .servicios__tabla{
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }
}

table{
    border-collapse: collapse;
    width: 100%;
}

th{
    background-color: $colorPrincipal;
    color: white;
    text-align: center;
    
}

th, td{
    text-align: left;
    padding: 0.5rem;
}

th{
    background-color: $colorSecundario;
    color: white;
    text-align: center;
}

td{
    background-color: #FFF;
    color: $colorSecundario;
    text-align: center;
}

& .serviciosInfo{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    & h2{
        padding: 1rem;
        background-color: #FFF;
        color: #e3bd70;
        text-align: center; 
    }
    & p{
        padding: 1rem;
        justify-content: center;
        text-align: center;
    }
}
  
& .serviciosColumna {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 1rem;
    color: antiquewhite;
}
}